# Deployer account (created via `cast wallet new` or `cast wallet import`)
DEPLOYER=
DEPLOYER_ADDRESS=

# RPC URLs
RPC_URL=https://api.zan.top/eth-sepolia

# Etherscan API Key for verification
ETHERSCAN_API_KEY=
